<div>
  <div>
    id: <span>{{$ctrl.user.id}}</span>
    <span>{{$ctrl.errors.id}}</span>
  </div>

  <div>
    *first name: <input type="text" ng-model="$ctrl.user.first_name" required>
    <span>{{$ctrl.errors.first_name}}</span>
  </div>

  <div>
    *last name: <input type="text" ng-model="$ctrl.user.last_name" required>
    <span>{{$ctrl.errors.last_name}}</span>
  </div>

  <div>
    age: <input type="text" ng-model="$ctrl.user.age" ng>
    <span>{{$ctrl.errors.age}}</span>
  </div>

  <div>
    country: <input type="text" ng-model="$ctrl.user.address.country">
    <span>{{$ctrl.errors.country}}</span>
  </div>

  <div>
    address1: <input type="text" ng-model="$ctrl.user.address.address1">
    <span>{{$ctrl.errors.address1}}</span>
    </div>

  <div>
    address2: <input type="text" ng-model="$ctrl.user.address.address2">
    <span>{{$ctrl.errors.address2}}</span>
  </div>

  <button ng-click="$ctrl.updateUser()">submit</button><br>
</div>
