<table>
  <thead>
    <tr>
      <th>id</th>
      <th>First name</th>
      <th>Last name</th>
      <th>age</th>
      <th>gender</th>
      <th>country</th>
      <th>address1</th>
      <th>address2</th>
      <th colspan=2>
        <a style="color:blue" href="/users/#!/users/new">New</a>
      </th>
    </tr>
  </thead>

  <tbody>
  <tr ng-repeat="user in $ctrl.users">
    <td>{{user.id}}</td>
    <td>{{user.first_name}}</td>
    <td>{{user.last_name}}</td>
    <td>{{user.age}}</td>
    <td>{{user.gender}}</td>
    <td>{{user.address.country}}</td>
    <td>{{user.address.address1}}</td>
    <td>{{user.address.address2}}</td>
    <td>
      <a ng-click="$ctrl.showEditTemplate(user)">edit</a>
    </td>
    <td>
      <a ng-click="$ctrl.deleteUser(user)">destroy</a>
    </td>
  </tr>
  </tbody>
  <user-edit ng-show="$ctrl.enableEdit" user="$ctrl.user"></user-edit>
</table>
