<div>
  <form name="userForm">
    <div>
      *first name: <input type="text" name="firstName" ng-model="$ctrl.user.first_name" required>
      <span ng-show="userForm.firstName.$touched && userForm.firstName.$invalid">first name is required.</span>
      <span>{{$ctrl.errors.first_name}}</span>
    </div>

    <div>
      *last name: <input type="text" name="lastName" ng-model="$ctrl.user.last_name" required>
      <span ng-show="userForm.lastName.$touched && userForm.lastName.$invalid">last name is required.</span>
      <span>{{$ctrl.errors.last_name}}</span>
    </div>

    <div>
      age: <input type="number" name="age" ng-model="$ctrl.user.age" min=1 step=1>
      <span ng-show="userForm.age.$touched && userForm.age.$invalid">age should be positive integer</span>
      <span>{{$ctrl.errors.age}}</span>
    </div>

    <div>
      country: <input type="text" ng-model="$ctrl.user.address.country">
      <span>{{$ctrl.errors.country}}</span>
    </div>

    <div>
      address1: <input type="text" ng-model="$ctrl.user.address.address1">
      <span>{{$ctrl.errors.address1}}</span>
    </div>

    <div>
      address2: <input type="text" ng-model="$ctrl.user.address.address2">
      <span>{{$ctrl.errors.address2}}</span>
    </div>
      <input type="submit" ng-click="userForm.$valid && $ctrl.createUser($ctrl.user)" value="save"><br>
  </form>
</div>
