<!DOCTYPE html>
<html>
  <head>
    <title>Blank</title>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>
  <body ng-app='rootApp'>
    <div ng-view></div>
  </body>
</html>
